%h1 Signup

= simple_form_for @player do |f|
  = f.input :name
  = f.input :email, placeholder: "user@domain.com"
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, "Signup"
