= navbar bg: :inverse, color_scheme: :dark do
  .navbar-brand
    %span#word-one Cards
    %span#word-two Are
    %span#word-three Really
    %span#word-four Dumb
    %span#word-five Stupid
  = navbar_group class: 'float-xs-right' do
    - if player_signed_in?
      = navbar_item 'Logout', destroy_player_session_path
    - else
      = navbar_item 'Register', new_player_registration_path
      = navbar_item 'Login', new_player_session_path
